html {
   
}

body {
    margin: 0;
    padding: 0;
}


.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    white-space: nowrap;
    border: 0;
}

.logo {
    width: 130px;
    height: 40px;
    margin-left: 320px;
    margin-top: 31px;
    margin-bottom: 31px;
   
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0;
    width: 100%;
    height: 102px;
    box-sizing: border-box;
  
}
nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
   
}

nav ul {
    display: flex;
    list-style: none;
    padding: 0px;
    margin-top: 0px;
    margin-right: 40px;
    gap: 30px;
    font-weight: 400;
    font-size: 16px;
    margin-top: 41px;
    margin-bottom: 41px;
}

.button1 {
    padding:10px 15px;
    background-color: #D97652;
    border: solid #D97652;
    border-radius: 40px;
    color: white;
    width: 140px;
    height: 50px;
    font-weight: 700px;
    font-size: 16px;
    margin-top: 26px;
    margin-bottom: 26px;
    margin-right: 320px;
    cursor: pointer;
    vertical-align: middle;
}

.beige {
    background-color: #F2E9D8;
}

.section1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.text-content1 {
    display: flex;
    flex-direction: column;
    margin-left: 320px;

}

.lorem1 {
    font-weight: 700;
    font-size: 48px;
    margin-bottom: 40px;
}

.lorem2 {
    font-weight: 400px;
    font-size: 16px;
    margin-bottom: 40px;
}

.boxcat {
    width: 415px;
    height: 766px;
    margin-top: 73px;
    margin-right: 320px;
}

.button2 {
    padding:10px 15px;
    background-color: #D97652;
    border: solid #D97652;
    border-radius: 40px;
    color: white;
    width: 140px;
    height: 50px;
    font-weight: 700px;
    font-size: 16px;
    cursor: pointer;
}

.section2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.bedcat {
    width: 660px;
    height: 390px;
    border-radius: 30px;
    margin-top: 80px;
    margin-right: 110px;
    margin-bottom: 120px;
}

.text-content2 {
    display: flex;
    flex-direction: column;
}

.lorem3 {
    font-weight: 700;
    font-size: 36px;
}

.lorem4 {
    font-weight: 400;
    font-size: 16px;
}

.section3 {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.image-group{
    display: flex;
    flex-direction: row;
    align-content: space-between;
    gap: 72px;

}

.text-content3 {
    display: flex;
    flex-direction: column;
    margin-bottom: 88px;
}

.text-content3 p {
    font-weight: 700;
    font-size: 48px;
    color: #D97652;
    
}
.towercat {
    width: 378px;
    height: 378px;
    border-radius: 30px;
}
.wallcat {
    width: 378px;
    height: 378px;
    border-radius: 30px;
    
}
.staring {
    width: 378px;
    height: 378px;
    border-radius: 30px;
}

.dummy-orange {
    color: #D97652;
}
.text-content3 span {
    font-weight: 400;
    font-size: 16px;
}

.section4 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 90px;
}
.text-content4 {
    font-size: 16px;
    font-weight: 400px;
}
.learn-more {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 700;
    margin-left: 52px;
    background-color: #D97652;
    border: solid #D97652;
    border-radius: 40px;
    color: white;
    width: 147px;
    height: 50px;
    text-decoration: none;
}

.fa-envelope-o {
    font-size: 24px;
    color:#D97652
}

footer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}


.text-content5 {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}
.text-content5 p {
    font-size: 36px;
    font-weight: 700;
}

.input-all {
  

    display: flex;
    align-items: center;
    width:530px;
    height:60px;
    border: 1px solid;
    border-radius: 60px;
    background-color: white;


    
}

.email {
    margin-left: 28px;
}
.email-holder {
    flex: 1;
    border: none;
    padding: 8px;
    font-size: 16px;
    outline: none;
    
}

.button3 {
    padding:10px 15px;
    margin-right: 5px;
    background-color: #D97652;
    border: solid #D97652;
    border-radius: 40px;
    color: white;
    width: 140px;
    height: 50px;
    font-weight: 700px;
    font-size: 16px;
    cursor: pointer;
}

.section5-par {
    background-image: url("./img/img_5.jpg");
    position: relative; /* 기준이 되는 부모 요소 */
    width: 100vw; /* 전체 너비 */
    height: 340px;
    margin-top: 196px;
    background-size: cover; /* 이미지가 요소를 꽉 채우도록 */
    background-position: 50% 35%; /* 가운데 정렬 */
    background-repeat: no-repeat; /* 반복 제거 */
    
}

.section5-par::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5); /* 검은색 반투명 */
    z-index: 0;
}

.section5 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 30px;
    background-color: #263140;
    width: 1280px;
    height: 200px;
    color: white;
    z-index: 1;
    position: absolute; /* .section5-par 안에서 절대 위치 */
    left: 50%;
    transform: translate(-50%, -50%); /* 중앙 정렬 */
}

.section6 {
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 100vw;
    height: 160px;
    
    position: absolute;
    bottom: 0;
    
   
}

.footer-logos {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 826px;
}

.blog {
    border-color: #F29D52;
    border: solid #F29D52;
    border-radius: 100px;
    background-color: #F29D52;
    width: 42px;
    height: 42px;
}
.insta {
    border-color: #F29D52;
    border: solid #F29D52;
    border-radius: 100px;
    background-color: #F29D52;
    width: 42px;
    height: 42px;
}
.facebook {
    border-color: #F29D52;
    border: solid #F29D52;
    border-radius: 100px;
    background-color: #F29D52;
    width: 42px;
    height: 42px;
}
.youtube {
    border-color: #F29D52;
    border: solid #F29D52;
    border-radius: 100px;
    background-color: #F29D52;
    width: 42px;
    height: 42px;
}
.modal{
    
    align-items: center;
    justify-content: center;
    display: flex;
}

.modal-image {
    position: relative;
    
    }
    


.back-g {
    width: 600px;
    height: 400px;
}
.sub-cat {
    width: 110px;
    height: 112px;

    position: absolute;
    left: 45%;
    top: -50px;  /* 배경 위로 올리기 */
    left: 50%;
    transform: translateX(-50%);
    width: 110px;
    height: 112px;
}

}
.text-content6 {
    position: absolute;
    

    text-align: center;
    color: black;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}